.weekly-picks {
    margin: 50px 0 120px;
}

.weekly-picks__header {
    text-align: center;
    font-size: 34px;
    position: relative;
    color: rgb(var(--color-foreground));
}

.weekly-picks__product-ctn {
    display: flex;
    flex-direction: column;
}

.weekly-picks__item {
    width: 300px;
    height: 400px;
    margin: 10px auto;
    position: relative;
}

.weekly-picks__img_wrapper {
    display: grid;
    place-items: center;
    height: 300px;
}

.weekly-picks__img_wrapper img {
    width: 75%;
}

.weekly-picks__product-title {
    text-align: center;
    color: rgb(var(--color-foreground));
    font-size: 16px;
}

.weekly-picks__product-price {
    font-size: 19px;
    text-align: center;
    color: rgb(var(--color-foreground));
}

.weekly-picks__item-link {
    text-decoration: none;
    position: relative;
}